

img {
    max-width: 100%;
    margin-top: 20px;
}

div figure {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    background: black;
    opacity: 100%;
    margin: 10px 10px 10px 95px;
    transition: all ease-in-out 0.3s;
}

figure:hover {
    background: rgb(255, 0, 85);
}

.figures {
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: center;     
}


